.App {
  font-family: Arial, sans-serif;
  background: rgb(29,30,106);
  background: radial-gradient(circle, rgba(29,30,106,1) 34%, rgba(0,0,0,1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  background-color: #fff;
  width: 500px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-container h2 {
  text-align: center;
  height: 35px;
  background-color: #1F316F;
  color: white;
  
  margin: 0;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-box {
  height: 500px;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.message.user {
  background-color: #E4F1FF;
  align-self: flex-end;
  margin-left: auto;
  padding: 15px;
}

.message.bot {
  background-color: #AED2FF;
  align-self: flex-start;
  margin-right: auto;
  padding: 15px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
  
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  height: 45px;
  border-bottom-left-radius: 8px;
}

.input-area button {
  padding: 10px 20px;
  border: none;
  background-color: #1F316F;
  color: white;
  cursor: pointer;
  border-bottom-right-radius: 8px;
}

.input-area button:hover {
  background-color: #102C57;
}
